# Basic Built - In Data Type

# Category Numbers
## int, float, complex Data Type

In [6]:
num1 = 12
num2 = 23.55
print(type(num1))
print(type(num2))
sum = num1 + num2   # If we add an int datatype with the float datatype, the result will be a float.
print(sum)
print(type(sum))

<class 'int'>
<class 'float'>
35.55
<class 'float'>

# Category Text Data Type
#### String (str) Data type

In [8]:
fname = "John"
lname = "Smith"
email = "jsmith@domain.com"
print(type(fname))
print(type(lname))
print(type(email))
print ("Your name is " + fname + " " + lname + " and Your email address is " + email)

<class 'str'>
<class 'str'>
<class 'str'>
Your name is John Smith and Your email address is jsmith@domain.com

# Category Boolean Data Type
#### Boolean Data Type example ("True", or "False")

In [10]:
# In Python, Boolean values can only be `True` or `False`.
paymentstatus = True    
print(type(paymentstatus))

<class 'bool'>

# Category Collection Data Type
## list, tuple, set, frozenset, dict

### List data type - [ ] - example [1,2,3],["a","b","c"] 
#### the value has to be placed in the square bracket. And also ordered and changeable collection.

In [14]:
# List in Python.
# Lists are represented using square brackets "[]", with elements separated by commas.
# A list is one of Python's most versatile data structures. 
# It's an ordered, mutable collection that can store elements of different data types.
                ## Key characteristics:
        # **Ordered**: Elements maintain their insertion order.
        # **Mutable**: Can be modified after creation (add, remove, or change elements)
        # **Indexed**: Elements can be accessed by position (starting from 0)
        # **Can contain duplicates**: The exact value can appear multiple times
        # **Can store mixed data types**: A single list can contain integers, strings, floats, other lists, etc.
              ## Common list operations:
        # Creating: 
my_list = [1, 2, 3]
        # Accessing:
print(my_list)
print(my_list[0]) # (first element)
        # Slicing: 
print(my_list[1:3]) # (elements from index 1 to 2)
        # Adding: 
print(my_list.append(4))  # or 
print(my_list.insert(0, 0))
        # Removing:
del my_list[2]
print(my_list.remove(3))  # or 
        # Length: 
print(len(my_list))
        # Checking membership: 
if 2 in my_list:
    print("True")
else:
    print("False")
print(my_list)    
    # ======================================
studentname = ["Abebe", "Abebe","Tamerat","Henok", "Kebede","Kebede", "Ayele",1,2.5] 
# A list of Elements maintains their insertion order.
print(type(studentname)) 
 # The value index started from 0 and continued; lists can contain different data types.
print((studentname)) 
# The index position value zero "0"  changed to "Selomon"
studentname[0] = "Selomon" 
# It will return the 2nd position from the given list, count four (4) elements in the list, and retrieve those elements.
print (studentname[2:5]) 
# A list value can be duplicated; the exact values can appear multiple times. 
print(studentname)
# If we want he value of the length of the list.
print(len(studentname)) 
# A single list can contain integers, strings, floats, other lists, etc.
print(studentname)

[1, 2, 3]
1
[2, 3]
None
None
None
3
False
[0, 1, 4]
<class 'list'>
['Abebe', 'Abebe', 'Tamerat', 'Henok', 'Kebede', 'Kebede', 'Ayele', 1, 2.5]
['Tamerat', 'Henok', 'Kebede']
['Selomon', 'Abebe', 'Tamerat', 'Henok', 'Kebede', 'Kebede', 'Ayele', 1, 2.5]
9
['Selomon', 'Abebe', 'Tamerat', 'Henok', 'Kebede', 'Kebede', 'Ayele', 1, 2.5]

In [15]:
country = ["Sudan", "Ethiopia", "Kenya"]
print(type(country))
print(country)
print(country[0]) # By default, the index starting position will be 0.

<class 'list'>
['Sudan', 'Ethiopia', 'Kenya']
Sudan

In [16]:
country = ["Ethiopia", "Sudan", "Kenya"]
print(type(country))
for countries in country:
    print(countries)

<class 'list'>
Ethiopia
Sudan
Kenya

In [17]:
Country = ["Ethiopia", "Sudan", "Kenya"] # if we want to replace the value with different values.
## example change country "Sudan" to Country name "Egypt"
print(type(country))
print(country)
country[1] = "Egypt"
for f in country:
    print(f)

<class 'list'>
['Ethiopia', 'Sudan', 'Kenya']
Ethiopia
Egypt
Kenya

In [18]:
students = ["Abebe","Lema","Aster","Ayele","Abel","Andualem"]
 # Example: change the student name "Ayele" to the student name "Alemu"
 # Step to follow first: find the index position of the student name "Ayele" by counting the value. 
 # And assign the number 0 as a starting index position.
# "Abebe" position == 0, "Lema" possition == 1, "Aster" position == 2 .... and so on. 
print(type(students))
print(students[0]  + " at index position 0.")
print(students[1]  + " at index position 1.")
print(students[2]  + " at index position 2.")
print(students[3]  + " at index position 3.")
print(students[4]  + " at index position 4.")
print(students[5]  + " at index position 5.")

<class 'list'>
Abebe at index position 0.
Lema at index position 1.
Aster at index position 2.
Ayele at index position 3.
Abel at index position 4.
Andualem at index position 5.

### Tuple data type - ( ) - example (1,2,3),("a","b","c")
#### The value has to be placed in the parentheses and ordered, an unchangeable collection.

In [20]:
# Tuple in Python.
# A tuple is an ordered, immutable collection of elements in Python. Here's what you need to know about tuples:
# **Definition**: A tuple is created by placing elements inside parentheses "()", separated by commas.
# **Immutability**: Unlike lists, tuples cannot be modified after creation. You cannot add, remove, or change elements.
# **Indexing**: Elements in a tuple can be accessed using zero-based indexing, just like lists.
                   ## **Common operations**:
         # Access elements: `my_tuple[0]`
         # Slicing: `my_tuple[1:3]`
         # Length: `len(my_tuple)`
         # Concatenation: `tuple1 + tuple2`
         # Check membership: `element in my_tuple`
                 ## **Use cases**: Tuples are commonly used for:
         # Returning multiple values from functions
         # Dictionary keys (when containing only immutable elements)
         # Data that shouldn't change throughout program execution
         # Tuples are more memory efficient than lists and can be used as a signal that the data shouldn't be modified.
months = ("Jan.", "Feb.", "Mar.", "Apr.", "May.", "Jun.", "Jul.", "Aug.", "Sep.", "Oct.", "Nov.", "Dec.")
print(type(months))
print(months)
print(months[3])
print("The 4th month of the year is  " + months[3]) # we can retrieve the exact single value from the given Tuple values

<class 'tuple'>
('Jan.', 'Feb.', 'Mar.', 'Apr.', 'May.', 'Jun.', 'Jul.', 'Aug.', 'Sep.', 'Oct.', 'Nov.', 'Dec.')
Apr.
The 4th month of the year is  Apr.

In [21]:
months = ("Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec")
### example: change the value of index 2, which is Mar value, to Test.
### on the object tuple does not support the item or value change.
# The code will raise a `TypeError` because tuples are immutable in Python. 
# Meaning their elements cannot be changed after they are created. 

print(type(months))
print(months)
months[2]= "Test"
print(months)

<class 'tuple'>
('Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec')

TypeError: 'tuple' object does not support item assignment

### Set data type - { } - example {1,2,3},{"a", "b"," c"}
#### The value must be placed in the curly Braces, an unordered, no-duplication collection.

In [ ]:
# Sets in Python
# A set is an unordered collection of unique elements in Python. Here's what you need to know about sets:
# **Definition**: A set is created by placing elements inside curly braces `{}` or using the `set()` constructor.
                         ## **Key characteristics**:
          # **Unordered**: Elements in a set have no defined order
          # **Unique elements**: Duplicates are automatically removed
          # **Mutable**: Sets can be modified after creation
          # **Can only contain immutable elements**: Numbers, strings, tuples (but not lists or dictionaries)
                        ## **Common operations**:
          # Add element: `my_set.add(element)`
          # Remove element: `my_set.remove(element)` or `my_set.discard(element)`
          # Union: `set1 | set2` or `set1.union(set2)`
          # Intersection: `set1 & set2` or `set1.intersection(set2)`
          # Difference: `set1 - set2` or `set1.difference(set2)`
          # Symmetric difference: `set1 ^ set2` or `set1.symmetric_difference(set2)`
          # Check membership: `element in my_set`.
                       ## **Use cases**:
          # Removing duplicates from a collection
          # Membership testing (faster than lists)
          # Mathematical set operations
          # When order doesn't matter but uniqueness does
# Sets in Python automatically eliminate duplicates, one of their key characteristics and use cases.
# Sets are particularly efficient for membership testing and eliminating duplicate entries.
# Elements in a set have no defined order
# Duplicates are automatically removed
data = {"Abel", "Abel", "Ayele", "Abera"}
# Duplicates are automatically removed.
print(type(data))
print(data)